@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 40 40% 94%;
        --card: 0 0% 99%;
        --card-foreground: 240 3% 22%;
        --popover: 0 0% 98%;
        --popover-foreground: 240 3% 22%;
        /* --primary: 142 70% 45%; */
        --primary: 158 76% 36%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted:  147 6% 12%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 85.7% 56.7%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 2.9% 34.3%;
        --input: 210 11% 85%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --radius: 0.5rem
    }

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: #1d201e;
    }

    ::-webkit-scrollbar-thumb {
        background: #ccc4;
        border-radius: 6px;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}